@font-face {
    font-family: 'Minecraft2';
    src: url('../Fonts/Minecraft/Minecraft2.ttf') format('ttf');
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: green;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}